{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrderSeparation": true,
  "prettier.eslintIntegration": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "endOfLine": "auto"
}
